#fileName=${class.name}Controller.java
package leli.juhe.controller;

import leli.juhe.utils.ConvertUtils;
import leli.juhe.vo.ResultVO;
import leli.juhe.controller.vo.${class.name}VO;
import leli.juhe.dao.entity.${class.name};
import leli.juhe.service.${class.name}Service;
import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

@Slf4j
@Tag(name = "${class.comment}")
@RestController
@RequestMapping("/${class.member}")
public class ${class.name}Controller {
    @Autowired
    private ${class.name}Service ${class.member}Service;

    @Operation(summary = "详情", description = "取单条数据")
    @GetMapping("{${fields[0].name}}")
    @Tag(name = "${class.comment}")
    public ResultVO<${class.name}VO> get(@PathVariable("${fields[0].name}") ${fields[0].type} ${fields[0].name}) {
        ${class.name} ${class.member} = ${class.member}Service.getById(${fields[0].name});
        return ResultVO.success(ConvertUtils.convert(${class.member}, ${class.name}VO.class));
    }
}
