#fileName=${class.name}Mapper.xml
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wutong.whatsapp.dao.${class.name}Mapper">
    <resultMap id="BaseResultMap" type="com.wutong.whatsapp.entity.${class.name}">
        #foreach($field in $fields)
            #if($foreach.index == 0)
            <id column="${field.colName}" jdbcType="${field.jdbcType}" property="${field.name}" />
            #else
            <result column="${field.colName}" jdbcType="${field.jdbcType}" property="${field.name}" />
            #end
        #end
    </resultMap>
    <sql id="Base_Column_List">
        #foreach($field in $fields)
            `${field.colName}`#if(${foreach.index} < ${fields.size()} - 1),
        #end#end

    </sql>
</mapper>