#fileName=${class.name}Mapper.java
package leli.juhe.dao;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import leli.juhe.dao.entity.${class.name};

/**
* $class.comment
*/
public interface ${class.name}Mapper extends BaseMapper<${class.name}> {

}