#fileName=${class.name}Service.java
package com.example.service;

import com.facebook.common.service.dto.request.PageReqDTO;
import com.facebook.common.service.dto.response.PageRespDTO;
import com.example.dao.entity.${class.name};
import com.example.dao.mapper.ext.${class.name}MapperExt;
import com.example.service.dto.req.${class.name}ReqDTO;
import com.example.service.dto.resp.${class.name}RespDTO;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;

@Service
public class ${class.name}Service extends BaseService<${class.name}, ${fields[0].type}, ${class.name}ReqDTO, ${class.name}RespDTO, ${class.name}MapperExt> {
    @Transactional(transactionManager = TRANSACTION_MANAGER, readOnly = true)
    public PageRespDTO<${class.name}RespDTO> selectPageManage(PageReqDTO<${class.name}ReqDTO> pageReqDTO) {
        return selectPage(pageReqDTO, mapperEx::selectCountManage, mapperEx::selectListManage);
    }
}
