#fileName=${class.name}RespDTO.java
package com.example.service.dto.resp;

import io.swagger.annotations.ApiModel;
import lombok.Getter;
import lombok.Setter;
import lombok.ToString;
import com.example.dao.entity.${class.name};

#foreach($imp in $imports)
import $imp;
#end

/**
* $class.comment
*/
@ToString
@Getter
@Setter
@ApiModel("$class.comment")
public class ${class.name}RespDTO extends ${class.name} {

}
